{
  "parser": "babel-eslint",
  "plugins": ["react", "jest"],
  "extends": ["airbnb-base"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "camelcase": "off",
    "react/jsx-uses-vars": ["error"],
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "no-sequences": "off",
    "max-len": [2, { "code": 160, "tabWidth": 4, "ignoreUrls": true }]
  }
}
